<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA24NYDlZxblQdmb3Ez3FPZeet6OIX5DC8</string>
	<key>GCM_SENDER_ID</key>
	<string>792104536451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emblueworld.done-stuff.stg</string>
	<key>PROJECT_ID</key>
	<string>done-stuff-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>done-stuff-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792104536451:ios:4f60969f37e1672ce0ceb6</string>
</dict>
</plist>